<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01_Demo1</display-name>
  
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.seed.servlet.LoginServlet</servlet-class>
  	<init-param>
  		<param-name>a</param-name>
  		<param-value>apple</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>a</servlet-name>
  	<servlet-class>com.seed.servlet.ServletA</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>a</servlet-name>
  	<url-pattern>/a.do</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>j</param-name>
  	<param-value>java</param-value>
  </context-param>
  
  
  
</web-app>